/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* normalize css */
* {
  margin: 0;
  padding: 0;
  /* borders and paddings wont count towards the width and height of element */
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
  /* set a padding on the entire body for some visual space */
  padding: 2rem;
}

.header {
  height: 95vh;
  /* set the background of a linear gradient overlaid on a photo */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.6),
      rgba(40, 180, 133, 0.6)
    ),
    url('../img/hero.jpg');
  /* locks the background image to the right edge of the screen */
  background-size: cover;
  /* locks the background image to the top of the screen */
  background-position: top;
  /* describe a polygon to clip the header */
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
}
